.breadcrumbHeader {
    padding: 30px 40px;
    background: #f4f4f4;
}

.btn {
    margin: 20px 0px;
    padding: 10px 50px;
    border-radius: 30px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.signinForm {
    min-width: 300px;
}