<app-carousel></app-carousel>
<app-products [pageTitle]="topProducts" [url]="topProductsUrl"></app-products>
<app-parallax></app-parallax>
<app-products [pageTitle]="beautyProducts" [url]="beautyProductsUrl"></app-products>
<app-products [pageTitle]="generalProducts" [url]="generalProductsUrl"></app-products>
<app-products [pageTitle]="healthProducts" [url]="healthProductsUrl"></app-products>
<app-products [pageTitle]="powderProducts" [url]="powderProductsUrl"></app-products>
<app-grid></app-grid>
© 2021 GitHub, Inc.
