<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/bommu-logo.png" alt="Bommu">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About Us</a>
                </li>
                <li class="nav-item dropdown" *ngFor="let category of categories; index as i">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{category.main}}
                    </a>
                    <ul class="dropdown-menu fade-down" aria-labelledby="navbarDropdown"
                        *ngIf="category.subCategories.length>0">
                        <div *ngFor="let subCategory of category.subCategories; index as i">
                            <li><a class="dropdown-item" [href]="subCategory.link">
                                    {{subCategory.name}}
                                </a></li>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Online Consultation</a>
                </li>
            </ul>
            <div class="d-flex justify-content-start">
                <a class="mt-2 mr-2 track" routerLink='/track'>
                    <i class="fas fa-truck-moving" style="color:white;font-size:25px"></i>
                </a>

                <div class="user">
                    <div [popper]="tooltipcontent"
                    [popperTrigger]="'hover'"
                    [popperPlacement]="'bottom-end'"
                    >
                   <i class="fas fa-user" style="color:white;font-size:25px"></i>
                   <span style="color:white;font-size:20px; margin-left: 3px;">{{firstName}} {{lastName}}</span>
               </div>
               <popper-content #tooltipcontent>
                   <div>
                    <p *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></p>
                    <p *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></p>
                    <p *ngIf="isLoggedIn"><a (click)="logoutUser()">Logout</a></p>
                   </div>
               </popper-content>
            </div>
                <a class="mt-2 mr-1 cart" routerLink='/cart'>
                    <i class="fas fa-shopping-cart" style="color:white;font-size:25px"></i>
                    <span class="badge rounded-pill bg-danger">{{productsInCart}}</span>
                </a>
            </div>
        </div>
    </div>
</nav>

