<div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" id="carouselExampleDark" >
        <div class="carousel-item" [ngClass]="{active:isFirst}" *ngFor="let slide of slides;
        index as i;first as isFirst">
        <img [src]="slide.image" class="d-block w-100 carousel-img" alt="...">
            <div class="carousel-caption">
                <h1 id="captionHeading" class="animate__animated animate__fadeInDownBig">{{slide.heading}}</h1>
                <p id="captionSubHeading1" class="animate__animated animate__fadeInDownBig">{{slide.subHeadingOne}}</p>
                <p id="captionSubHeading2" class="animate__animated animate__fadeInDownBig">{{slide.subHeadingTwo}}</p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>