<div class="grid m-3 d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/1.jpg" style="height: 400px;">
      <div class="main-block">
        <h4 class="title-grid fs-2" style="color: #f4b323;">General Care</h4>
        <h5 style="font-size:x-large;">50% FLAT OFFER ALL PRODUCTS</h5>
        <button class="btn mx-2" [routerLink]="generalCareNav">
          Shop now
        </button>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row mb-4">
        <div class="col-sm-4 content">
          <img src="assets/2.png">
          <div class="overlay overlayLeft"></div>
          <div class="text-block">
            <h4 class="title-grid fs-2">Beauty Care</h4>
            <button class="btn mx-2" [routerLink]="beautyCareNav">
              Shop now
            </button>
          </div>
        </div>
        <div class="col-sm-8 content">
          <div class="overlay overlayLeft"></div>
          <img src="assets/3.jpg">
          <div class="text-block">
            <h4 class="title-grid fs-2">Health Care</h4>
            <button class="btn mx-2" [routerLink]="healthCareNav">
              Shop now
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 content">
          <div class="overlay overlayLeft"></div>
          <img src="assets/4.jpg">
          <div class="text-block">
            <h4 class="title-grid fs-2">Powders</h4>
            <button class="btn mx-2" [routerLink]="powdersNav">
              Shop now
            </button>
          </div>
        </div>
        <div class="col-sm-4 content">
          <div class="overlay overlayLeft"></div>
          <img src="assets/5.jpg">
          <div class="text-block">
            <h4 class="title-grid fs-2">Hair Care</h4>
            <button class="btn mx-2" [routerLink]="hairCareNav">
              Shop now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
