<div class="footer  mt-auto">
    <div class="container mt-auto">
        <div class="row">
            <div class="col-lg-4 col-12 col-sm-12" style="border-right: 2px solid white;">
                <h3>About us</h3>
                <div>
                    Sri Bommu Venkateshwarara Reddy founder of Bommu Herbals Pvt Ltd created a mission of "Taking Ayurveda to every Citizen of India ". Our goal is making every Citizen of India happy and healthy through genuine Ayurvedic treatment delivered at their Life
                    style.
                </div>
            </div>
            <div class="col-12 col-lg-4 col-sm-12" style="border-right: 2px solid white;">
                <div class="row">
                    <div class="col-sm-6 col-6 col-lg-6">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>Home</li>
                            <li>About</li>
                            <li>Contact</li>
                            <li>Login</li>
                            <li>Register</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-6 col-lg-6">
                        <h3>Services</h3>
                        <ul>
                            <li>Beauty</li>
                            <li>Hair</li>
                            <li>Health</li>
                            <li>Herbs</li>
                            <li>Powder</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-12">
                <h3>Contact us</h3>
                <p>
                    <i class="fas fa-map-marked-alt"></i>
                    Bommu Herbals Private Limited Plot No 75, Road No 7, ALEAP Industrial Estate, Pragathi Nagar, Kukatpally, Telangana - 500072
                </p>
                <p>
                    <i class="fas fa-phone-alt"></i>
                     +91 9912749786 /
                        +91 9912588699
                </p>
                <p>
                    <i class="fas fa-envelope"></i>
                   info@bommuherbals.com
                </p>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center pb-2">
            <div>
                Copyright &copy; Bommu Herbals 2020 . All Right Reserved.
            </div>
        </div>
    </div>
</div>