<nav aria-label="breadcrumb">
    <div class="breadcrumbHeader d-flex justify-content-center">
        <div>
            <h1 style="font-family: SpicyRice; color: #9f4103;" class="text-center">About Us</h1>
            <ol class="breadcrumb text-center">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About US</li>
            </ol>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="mb-5">Our Mission</h1>
    <p>Sri Bommu Venkateshwarara Reddy founder of Bommu Herbals Pvt Ltd created a mission of</p>
    <h3 class="quote">"Taking Ayurveda to every Citizen of India ".</h3>
    <p>Our goal is making every Citizen of India happy and healthy through genuine Ayurvedic treatment delivered at
        their Life style.</p>
    <p>Today every age group have a health problems such as Diabetes, Joints , Heart, Kidney, Liver, Immunity, Hair,
        Skin, Indigestion, Sexual Problems, Piles, Body Pains, Anemia, Asthma and Cancer. We have solution for the
        problems mentioned above with our Ayurvedic/Herbal products.</p>
</div>