.breadcrumbHeader {
    padding: 30px 40px;
    background: #f4f4f4;
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;

    h1 {
        font-size: 40px;
        font-family: SpicyRice;
        color: #9f4103;
        letter-spacing: 0.05em;
    }

    .quote {
        margin-bottom: 2%;
    }
}