<div class="parallax">
    <div class="container grid__item d-flex align-items-center" style="padding:80px 0 80px;">
        <div>
            <h2 style="color:#f4b323;font-family:SpicyRice;">Get 10% off <br>On all Spicy &amp; Herbs</h2>
            <p style="color:#ffffff">Lorem ipsum has become the industry standard for design mockups and prototypes. <br>By adding a little bit of Latin to a mockup.</p>
            <div class="cms-type-3-btn">
                <a style="color:#fff;border:2px solid #9f4103;border-radius:30px;" class="btn mx-2" href="">View More</a>
                <a style="color:#fff;border:2px solid #ffffff;border-radius:30px;" class="btn mx-2" href="">Shop Now</a>
            </div>
        </div>
    </div>
</div>